@import url(./_icon/resources-item__link_icon.css);

.resources-item__link {
  text-decoration: none;
  color: #609a89;
  font-size: 16px;
  display: flex;
  align-items: center;
  display: block;
}

.resources-item__link:hover {
  color: #c27180;
}

.resources-item__link:active {
  opacity: 0.8;
}

.resources-item__link_list {
  margin: 5px 40px;
}

@media (max-width: 768px) {
  .resources-item__link {
    font-size: 12px;
  }
  .resources-item__link_list {
    margin: 3px 15px;
  }
}

@media (max-width: 425px) {
  .resources-item__link {
    font-size: 10px;
  }
  .resources-item__link_list {
    margin: 3px 10px;
  }
}