.page {
  background: url(../../images/background.png);
  background-repeat: repeat;
  font-family: Poppins, PoppinsCyr, Helvetica, sans-serif;
  min-height: 100vh;
  background-size: contain;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}