@import url(./vendor/normalize.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/menu/menu.css);
@import url(./blocks/content/content.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/information/information.css);

@font-face {
  src: url('./fonts/Poppins-Regular.woff') format('woff');
      font-family: 'Poppins';
      font-weight: normal;
}

@font-face {
  src: url('./fonts/Poppins-Medium.woff') format('woff');
      font-family: 'Poppins';
      font-weight: 500;
}

@font-face {
  src: url('./fonts/Poppins-Bold.woff') format('woff');
      font-family: 'Poppins';
      font-weight: bold;
}

@font-face {
  src: url('./fonts/Poppins-ExtraLight.woff') format('woff');
      font-family: 'Poppins';
      font-weight: lighter;
}


@font-face {
  src: url('./fonts/PoppinsCyr.woff') format('woff');
      font-family: 'PoppinsCyr';
      font-weight: normal;
}