.header__logo {
  width: 120px;
  margin: 15px 0 15px 80px;
}

@media (max-width: 768px) {
  .header__logo {
    width: 60px;
  }
}

@media (max-width: 425px) {
  .header__logo {
    width: 40px;
    margin: 5px 0 5px 20px;
  }
}