@import url(./__link_icon/header__link_icon.css);

.header__link {
  text-decoration: none;
  color: #609a89;
  font-size: 14px;
}

.header__link:hover {
  color: #c27180;
}

.header__link:active {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .header__link {
    font-size: 10px;
  }
}

@media (max-width: 425px) {
  .header__link {
    font-size: 8px;
  }
}