.footer__copyright {
  position: absolute;
  text-decoration: none;
  color: #609a89;
  font-weight: lighter;
  font-size: 10px;
  bottom: 22px;
  right: 40px;
}

.footer__copyright:hover {
  color: #c27180;
}

.footer__copyright:active {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .footer__copyright {
    bottom: 11px;
    right: 20px;
    font-size: 8px;
  }
}

@media (max-width: 425px) {
  .footer__copyright {
    font-size: 6px;
  }
}