@import url(./__link_icon/menu__link_icon.css);

.menu__link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-weight: normal;
  line-height: 23px;
  font-size: 15px;
}

.menu__link:active {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .menu__link {
    font-size: 13px;
    line-height: 18px;
  }
}