.header__link_icon {
  width: 11px;
  height: 11px;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .header__link_icon {
    width: 9px;
    height: 9px;
  }
}

@media (max-width: 425px) {
  .header__link_icon {
    width: 7px;
    height: 7px;
  }
}