@import url(./_title/resources__block_title.css);

.resources__block {
  text-align: start;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0 30px;
}

@media (max-width: 768px) {
  .resources__block {
    padding: 15px 15px 0 15px;
  }
}

@media (max-width: 768px) {
  .resources__block {
    padding: 10px 10px 0 10px;
  }
}