@import url(./__header_text/information__header_text.css);

.information__header {
  width: 100%;
  background-color: #63337F;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .information__header {
    padding: 10px 0;
  }
}