@import url(./__block/information__block.css);
@import url(./__header/information__header.css);
@import url(./_hidden/information_hidden.css);

.information {
  width: 100%;
  margin: 40px 80px;
  background-color: white;
  border: solid 3px #609a89;
}

@media (max-width: 768px) {
  .information {
    margin: 20px 20px;
  }
}

@media (max-width: 425px) {
  .information {
    margin: 10px 10px;
    width: 92.5%;
  }
}
