@import url(./__item/menu__item.css);
@import url(./__link/menu__link.css);
@import url(./__list/menu__list.css);
@import url(./__group/menu__group.css);

.menu {
  width: 400px; 
  background-color: #609a89
}

@media (max-width: 425px) {
  .menu {
    width: auto;
  }
}